.button {
    height: 6vmin;
    width: 10vmin;
    border-radius: 5px;
    border: none;
    font-size: 3vmin;
    font-weight: 600;
    background-color: aqua;
    margin: 5px;
}

.button:hover {
    background-color: rgba(0, 255, 255, 0.9);
}

.button:active {
    background-color: rgb(189, 209, 246);
}

.button:disabled {
    opacity: 0.5;
}

.button:disabled:hover {
    opacity: 0.5;
    background-color: aqua;
}

