.button {
    height: 6vmin;
    width: 10vmin;
    border-radius: 5px;
    border: none;
    font-size: 3vmin;
    font-weight: 600;
    background-color: aqua;
    margin: 5px;
}

.button:hover {
background-color: rgb(2, 253, 253);
}

.button:disabled {
    opacity: 0.5;
}

