.button {
    height: 6.5vmin;
    width: 10.5vmin;
    border-radius: 5px;
    border: none;
    font-size: 3vmin;
    font-weight: 600;
    background-color: #00BFFF;
    margin: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #1ec9fd;
}

.button:active {
    background-color: rgb(189, 209, 246);
}

.button:disabled {
    opacity: 0.5;
}

.button:disabled:hover {
    opacity: 0.5;
    background-color: #00BFFF;
    cursor: default;
}

