.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282c34;
    min-height: 100vh;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 38vmin;
    height: 38vmin;
    background-color: #282c34;
    border: 1px solid #00BFFF;
    border-radius: 5px;
    user-select: none;
}

.numArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00BFFF;
    width: 36vmin;
    height: 26vmin;
    border-radius: 5px;
    font-size: 15vmin;
}

.numArea:hover {
    background-color: #1ec9fd;
}

.buttoms {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
    width: 36vmin;
    height: 9vmin;
    border: 1px solid #00BFFF;
    border-radius: 5px;
    margin-top: 1vmin;
}

.maxValue {
    color: red;
    font-weight: bold;
}

.info {
    color: white;
    font-size: 2vmin;
    margin-bottom: 0.5vmin;
    margin-right: 30vmin;
}