.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 38vmin;
    height: 38vmin;
    background-color: #282c34;
    border: 1px solid #00BFFF;
    border-radius: 5px;
}

.setArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00BFFF;
    width: 36vmin;
    height: 26vmin;
    border-radius: 5px;
    font-size: 4vmin;
}

.buttoms {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
    width: 36vmin;
    height: 9vmin;
    border: 1px solid #00BFFF;
    border-radius: 5px;
    margin-top: 1vmin;
}

table {
    width: 100%;
    padding: 1vmin;
}

.input {
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    width: 6vmin;
    height: 3vmin;
    padding: 7px 11px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}