.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 38vmin;
    height: 38vmin;
    background-color: #282c34;
    border: 1px solid #00BFFF;
    border-radius: 5px;
}

.setArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
    width: 36vmin;
    height: 26vmin;
    border-radius: 5px;
    font-size: 4vmin;
    color: #00BFFF;
}

.buttoms {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
    width: 36vmin;
    height: 9vmin;
    border: 1px solid #00BFFF;
    border-radius: 5px;
    margin-top: 1vmin;
}

table {
    width: 100%;
    padding: 0.5vmin;
}

.input {
    border: 3px solid #00BFFF;
    border-radius: 5px;
    width: 12vmin;
    height: 4vmin;
    font-size: 3vmin;
    text-align: center;
}

.input:focus {
    outline: none;
}